@model Portfolio_Site.Models.HogereSchool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HogereSchool</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opleiding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opleiding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Begin_Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Begin_Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eind_Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eind_Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
